.step-number {
  display: grid;
  place-items: center;

  font-size: 0.9375rem;
  font-weight: var(--fw-bold);
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1/1;
}

.step-number.active {
  color: var(--marine-blue);
  background-color: var(--light-blue);
}