.msf-fieldset {
  background-color: var(--white);
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -1rem var(--cool-gray);
  transform: translateY(-5.5rem);
}

.msf-legend {
  font-size: 1.5rem;
  font-weight: var(--fw-extra-bold);
  color: var(--marine-blue);
}

.fieldset-description {
  font-size: 1rem;
  color: var(--cool-gray);
}

@media screen and (min-width: 850px) {
  .msf-fieldset {
    display: grid;
    gap: 0.25rem;
    padding: 1rem 0;
    transform: none;
    box-shadow: none;
  }
  .msf-legend {
    font-size:2rem;
    font-weight: var(--fw-extra-bold);
  }
}