.thanks-message-wrapper {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 3rem 0;
}

.thanks-icon {
  height: 3rem;
}

.thanks-message-title {
  font-size: 1.5rem;
  color: var(--marine-blue);
  font-weight: var(--fw-extra-bold);
}

.thanks-message-content {
  color: var(--cool-gray);
  transform: translateY(-13px);
}

@media screen and (min-width: 850px) {
  .thanks-message-wrapper {
    transform: translateY(88px);
  }
  .thanks-icon {
    height: 5rem;
  }  
  .thanks-message-title {
    font-size: 2rem;
  }
}