:root {
  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --marine-blue-hover: hsl(213, 96%, 30%);
  --purplish-blue: hsl(243, 100%, 62%);
  --purplish-blue-hover: hsl(243, 100%, 80%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  
  /* Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --ff: 'Ubuntu', sans-serif;

  --fw-regular: 400;
  --fw-bold: 500;
  --fw-extra-bold: 700;

  --sidebar-desktop-height: 568px;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3{
  line-height: 1;
}

/* General styling */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: var(--ff);
  font-size: 1rem;
  color: var(--marine-blue);
  background-color: var(--white);

  display: grid;
  place-content: center;
  height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
}

.hidden {
  visibility: hidden;
}

[class*='container'].selected {
  border-color: var(--marine-blue);
}

label[class*='container']:hover {
  cursor: pointer;
}